<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="school.coder.mapper.SectionMapper">
    <select id="getAllSections" resultType="SectionInfo">
        select * from section_info
    </select>
</mapper>